<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a routerLink="/products" class="nav-item nav-link">Main Page</a>
        <a routerLink="/products/1" class="nav-item nav-link">Product 1</a>
        <a routerLink="/products/2" class="nav-item nav-link">Product 2</a>
        <a routerLink="/products/42" class="nav-item nav-link">Nonexistent Product</a>
        <button class="btn btn-sm btn-success ms-3" (click)="goToDiscountedProducts()">Discounted products</button>
      </div>
    </div>
  </div>
</nav>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
