<div class="mb-5">
  <ng-container *ngIf="product">
    <div class="row">
      <div class="col-8 pt-5">
        <h1>{{ product.name }}</h1>
        <h2><small class="text-muted">$ {{ product.price }}</small></h2>
        <div class="mt-5">
          <button type="button" class="btn btn-lg btn-success">Buy now</button>
        </div>
      </div>
      <div class="col-4">
        <img style="width: 100%;" [src]="product.image" alt="Product image" class="img-thumbnail">
      </div>
    </div>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus rhoncus. Nunc auctor. Fusce suscipit libero eget elit. Aliquam erat volutpat. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Aliquam erat volutpat. Maecenas aliquet accumsan leo. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Fusce nibh. Integer imperdiet lectus quis justo. Maecenas lorem.</p>
    <p>Quisque porta. In enim a arcu imperdiet malesuada. Vestibulum fermentum tortor id mi. Nullam dapibus fermentum ipsum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Phasellus rhoncus. Vivamus ac leo pretium faucibus. Praesent id justo in neque elementum ultrices. Vivamus luctus egestas leo. In rutrum. Nulla non lectus sed nisl molestie malesuada. Morbi scelerisque luctus velit. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Maecenas lorem. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Maecenas aliquet accumsan leo. Donec iaculis gravida nulla.</p>
  </ng-container>
</div>
